<%= form_for ([@deck, card]) do |card| %>
  <table>
    <tr>
      <th><%= card.label :"card type" %>:</th>
      <td><%= card.text_field :card_type %></td>
    </tr>
    <tr>
      <th><%= card.label :effect %>:</th>
      <td><%= card.text_field :effect %></td>
    </tr>
    <tr>
      <th><%= card.label :modifier %>:</th>
      <td><%= card.text_field :modifier %></td>
    </tr>
    <tr>
      <th><%= card.label :"flavor text" %>:</th>
      <td><%= card.text_field :flavor_text %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= card.submit "Save Card" %></td>
  </table>
<% end %>
