<fieldset class="cargo_area">
  <legend>Cargo Bay   <%= @player.cargo %> / <%= session[:ship].max_cargo %></legend>
  <% @player.cargo_bay.each do |cargo| %>
    <div class="my_cargos">
      <div class="card_type"><%= cargo.card_type %></div>
      <div class="card_effect"><%= cargo.effect %></div>
      <div class="card_modifier"><%= cargo.modifier %></div><br>
      <div class="card_flavor_text">"<%= cargo.flavor_text %>"</div><br>
      <input type="hidden" id="card_id" value="<%= cargo.id %>">
    </div>
  <% end %>
</fieldset><br>
