<fieldset class="event_area">
  <legend>Game Events</legend>
  <% session[:event_hand].each do |card| %>
    <% if card.card_type == "enemy" %>
      <div class="enemy_cards">
    <% else %>
      <div class="event_cards">
    <% end %>
      <div class="card_type"><%= card.card_type %></div>
      <div class="card_effect"><%= card.effect %></div>
      <div class="card_modifier"><%= card.modifier %></div><br>
      <div class="card_flavor_text">"<%= card.flavor_text %>"</div><br>
      <input type="hidden" id="card_id" value="<%= card.id %>">
    </div>
  <% end %>

  <div class="event_summary">
    <table>
      <tr>
        <th>Enemy Strength: <%= @event_results.attack %></th>
        <th>Energy: <%= @event_results.energy %></th>
        <th>shield: <%= @event_results.shield %></th>
        <th>Credit: <%= @event_results.credit %></th>
      </tr>
    </table>
  </div>

</fieldset>
