<fieldset class="event_area">
  <legend>Game Events</legend>
  <% session[:event_hand].each do |card| %>
    <div class="event_cards">
      <div class="card_type"><%= card.card_type %></div>
      <div class="card_effect"><%= card.effect %></div>
      <div class="card_modifier"><%= card.modifier %></div><br>
      <div class="card_flavor_text">"<%= card.flavor_text %>"</div><br>
      <input type="hidden" id="card_id" value="<%= card.id %>">
    </div>
  <% end %>
</fieldset>
