  <div class="resource_hud">
    <table>
      <tr>
        <th>Hull: <br><%= @player.hull %></th>
        <th>Shield: <%= @player.shield %></th>
        <th>Energy: <%= @player.energy %></th>
        <th>Credit: <%= @player.credit %></th>
        <th>Cargo Bay: <%= @player.cargo %> / <%= session[:ship].max_cargo %></th>
      </tr>
    </table>
  </div>
