<div class="heading">Game start</div><br>

<div class="game_area">
  <% @player_hand.each do |card| %>
    <div class="card">
      <div class="card_type"><%= card.card_type %></div><br>
      <div class="card_effect"><%= card.effect %></div><br>
      <div class="card_modifier"><%= card.modifier %></div><br>
      <div class="card_flavor_text">"<%= card.flavor_text %>"</div>
    </div>
  <% end %>
</div>


<br><%= link_to "Home", root_path %>
