<fieldset class="event_area">
  <legend>Game Events</legend>
  <% session[:event_hand].each do |card| %>
    <% if card.card_type == "enemy" || card.card_type == "boss" %>
      <div class="enemy_cards">
    <% elsif card.effect == "cargo" %>
      <div class="cargo_cards">
    <% else %>
      <div class="event_cards">
    <% end %>
      <div class="card_type"><%= card.card_type %></div>
      <div class="card_effect"><%= card.effect %></div>
      <div class="card_modifier"><%= card.modifier %></div><br>
      <div class="card_flavor_text">"<%= card.flavor_text %>"</div><br>
      <input type="hidden" id="card_id" value="<%= card.id %>">
    </div>
  <% end %>
</fieldset>
