<fieldset class="player_area">
  <legend>Player Hand</legend>
  <div class="player_hand">
    <% session[:player_hand].each do |card| %>
      <% if card.effect == "shield" %>
        <div class="shield_charger_card">
      <% else %>
        <div class="player_card">
      <% end %>
        <div class="card_type"><%= card.card_type %></div>
        <div class="card_effect"><%= card.effect %></div>
        <div class="card_modifier"><%= card.modifier %></div><br>
        <div class="card_flavor_text">"<%= card.flavor_text %>"</div><br>
        <input type="hidden" id="card_id" value="<%= card.id %>">
      </div>
    <% end %>
  </div><br>
</fieldset><br>
