  <div class="resource_hud">
    <table>
      <tr>
        <th>Hull: <span><%= @player.hull %> / <%= session[:ship].max_hull %></span></th>
        <th><span><%= @player.attack_efficiency %></span> Weapons: <span><%= @player.attack %> / <%= session[:ship].max_attack %></span></th>
        <th><span><%= @player.shield_efficiency %></span> Shield: <span><%= @player.shield %> / <%= session[:ship].max_shield %></span></th>
        <th>Energy: <span><%= @player.energy %> / <%= session[:ship].max_energy %></span></th>
        <th>Credit: <span><%= @player.credit %></span></th>
      </tr>
      <tr>
        <th>Crew: <span><%= @player.crew %> / <%= session[:ship].max_crew %></span></th>
        <th>Cargo: <span><%= @player.cargo %></span> / <span><%= session[:ship].max_cargo %></span></th>
        <th>Bounty: <span><%= @player.vp %> / 100</span></th>
        <th>Turn: <span><%= @player.round %> / <%= session[:game_round_limit] %></span></th>
        <th>Speed: <span><%= select_tag "speed", options_for_select( 1..session[:ship].max_speed, @player.speed ) %></span></th>
      </tr>
    </table>
  </div>
