  <div class="resource_hud">
    <table>
      <tr>
        <th>Hull: <span class="resource_value"><%= @player.hull %> / <%= session[:ship].max_hull %></span></th>
        <th>Crew: <span class="resource_value"><%= @player.crew %> / <%= session[:ship].max_crew %></span></th>
      </tr>
      <tr>
        <th><span class="resource_value"><%= @player.attack_efficiency %></span> Weapons: <span class="resource_value"><%= @player.attack %> / <%= session[:ship].max_attack %></span></th>
        <th>Cargo: <span class="resource_value"><%= @player.cargo %></span> / <span class="resource_value"><%= session[:ship].max_cargo %></span></th>
      </tr>
      <tr>
        <th><span class="resource_value"><%= @player.shield_efficiency %></span> Shield: <span class="resource_value"><%= @player.shield %> / <%= session[:ship].max_shield %></span></th>
        <th>Bounty: <span class="resource_value"><%= @player.vp %> / 100</span></th>
      </tr>
      <tr>
        <th>Energy: <span class="resource_value"><%= @player.energy %> / <%= session[:ship].max_energy %></span></th>
        <th>Draw pile: <span class="resource_value"><%= session[:player_deck].size %></span></th>
      </tr>
      <tr>
        <th>Credit: <span class="resource_value"><%= @player.credit %></span></th>
        <th>Discards: <span class="resource_value"><%= session[:player_discard].size %></span></th>
      </tr>
    </table>
  </div>
