<fieldset class="mechanic_area">
  <legend>Discards</legend>
  <div class="player_discard">
    <% session[:player_discard].each do |card| %>
        <div class="trim_card">
        <div class="card_type"><%= card.card_type %></div>
        <div class="card_effect"><%= card.effect %></div>
        <div class="card_modifier"><%= card.modifier %></div><br>
        <div class="card_flavor_text">"<%= card.flavor_text %>"</div><br>
        <input type="hidden" id="card_id" value="<%= card.id %>">
      </div>
    <% end %>
  </div><br>
</fieldset><br>
