<p><div class="heading">Deck list page</div></p>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>

  <% @decks.each do |deck| %>
  <tr>
    <td><%= deck.name %></td>
    <td><%= deck.deck_type %></td>
    <td><%= link_to "Show", deck_path(deck) %></td>
    <td><%= link_to "Edit", edit_deck_path(deck) %></td>
    <td><%= link_to "Delete", deck_path(deck), method: :delete, data: { confirm: "Confirm deletion?" } %></td>

  </tr>
  <% end %>
</table>

<br>
<%= link_to "Home", root_path %>
